<h1>LOG IN</h1>

<form action="/api/session/login" method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="text" name="password"><br>

    <br>
    

    <input type="submit" value="LOG IN">
    Not a member? <a href="/api/session/register"> REGISTER</a>
</form>
<div>
    <a href="/api/session/github"><button>with GITHUB</button> </a>
</div>